## This notebook contains the code implemented in the first task of my virtual internship with KPMG through Forage.

For this task I was instructed to take a look at the four datasets provided by Sprocket Central Pty Ltd and identify all data quality issues.

In [1]:
#importing relevant libaries
import numpy as np
import pandas as pd
import datetime
import sqlite3 as sql
from pandas import ExcelWriter

In [2]:
#reading in the needed sheets from the excel workbook
KPMG_TSC = pd.read_excel('c:Documents/KPMG data.xlsx', sheet_name = 'Transactions')
KPMG_NCL = pd.read_excel('c:Documents/KPMG data.xlsx', sheet_name = 'NewCustomerList')
KPMG_CD = pd.read_excel('c:Documents/KPMG data.xlsx', sheet_name = 'CustomerDemographic')
KPMG_CA = pd.read_excel('c:Documents/KPMG data.xlsx', sheet_name = 'CustomerAddress')

In [3]:
#changing the maximum number of rows and columns that can the viewed
pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

# Checking the quality of the Transactions dataset

In [4]:
#viewing the transaction dataset
KPMG_TSC.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145

In [5]:
#cleaning all datasets to replace the column head with the first row
datasets = [KPMG_TSC, KPMG_NCL, KPMG_CD, KPMG_CA]
for data in datasets:
    data.columns = data.iloc[0]
    data.drop(0, axis = 'index', inplace = True)

In [6]:
#checking the details of the transaction dataset
KPMG_TSC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  object
 1   product_id               20000 non-null  object
 2   customer_id              20000 non-null  object
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  object
dtypes: object(13)
memory usage: 1015.7+ KB

The following columns all have missing values: 
1. online_order
2. brand
3. product_line
4. product_class
5. product_size 
6. standard_cost
7. product_first_sold_date

In [7]:
#checking the number of missing values each column has
KPMG_TSC.isnull().sum()

0
transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [8]:
#checking for correlation in the position of missing values across the last 6 columns with missing values
KPMG_TSC[KPMG_TSC['brand'].isnull()]

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
137,137,0,431,2017-09-23 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1942.61,NaN,NaN
160,160,0,3300,2017-08-27 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1656.86,NaN,NaN
367,367,0,1614,2017-03-10 00:00:00,False,Approved,NaN,NaN,NaN,NaN,850.89,NaN,NaN
407,407,0,2559,2017-06-14 00:00:00,True,Approved,NaN,NaN,NaN,NaN,710.59,NaN,NaN
677,677,0,2609,2017-07-02 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1972.01,NaN,NaN
781,781,0,897,2017-05-10 00:00:00,True,Approved,NaN,NaN,NaN,NaN,311.54,NaN,NaN
1004,1004,0,2254,2017-05-16 00:00:00,False,Cancelled,NaN,NaN,NaN,NaN,205.84,NaN,NaN
1131,1131,0,2163,2017-03-09 00:00:00,False,Approved,NaN,NaN,NaN,NaN,605.54,NaN,NaN
1197,1197,0,2234,2017-04-04 00:00:00,False,Approved,NaN,NaN,NaN,NaN,756.31,NaN,NaN
1283,1283,0,397,2017-08-09 00:00:00,False,Approved,NaN,NaN,NaN,NaN,850,NaN,NaN
1654,1654,0,1972,2017-10-05 00:00:00,False,Approved,NaN,NaN,NaN,NaN,571.27,NaN,NaN
1681,1681,0,2733,2017-05-18 00:00:00,False,Approved,NaN,NaN,NaN,NaN,294.35,NaN,NaN
1753,1753,0,925,2017-07-25 00:00:00,False,Approved,NaN,NaN,NaN,NaN,149.3,NaN,NaN
1779,1779,0,2153,2017-03-23 00:00:00,False,Approved,NaN,NaN,NaN,NaN,447.25,NaN,NaN
2187,2187,0,1568,2017-03-14 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1348.41,NaN,NaN
2303,2303,0,2465,2017-04-22 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1021.43,NaN,NaN
2948,2948,0,3212,2017-09-14 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1163.77,NaN,NaN
2991,2991,0,812,2017-04-10 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1294.66,NaN,NaN
3195,3195,0,1902,2017-12-09 00:00:00,False,Approved,NaN,NaN,NaN,NaN,638.29,NaN,NaN
3260,3260,0,3168,2017-02-24 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1202.34,NaN,NaN
3409,3409,0,52,2017-03-11 00:00:00,True,Approved,NaN,NaN,NaN,NaN,326.86,NaN,NaN
3782,3782,0,1503,2017-11-26 00:00:00,True,Approved,NaN,NaN,NaN,NaN,814.86,NaN,NaN
3878,3878,0,696,2017-07-30 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1102.68,NaN,NaN
4025,4025,0,3264,2017-05-05 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1880.4,NaN,NaN
4074,4074,0,1841,2017-04-09 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1541.62,NaN,NaN
4128,4128,0,3242,2017-01-04 00:00:00,True,Approved,NaN,NaN,NaN,NaN,639.38,NaN,NaN
4223,4223,0,2479,2017-05-05 00:00:00,True,Approved,NaN,NaN,NaN,NaN,402.14,NaN,NaN
4225,4225,0,2405,2017-05-02 00:00:00,False,Approved,NaN,NaN,NaN,NaN,710.55,NaN,NaN
4228,4228,0,3464,2017-06-04 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1142.89,NaN,NaN
4339,4339,0,1741,2017-04-12 00:00:00,False,Approved,NaN,NaN,NaN,NaN,813.6,NaN,NaN
4405,4405,0,325,2017-08-10 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1833.17,NaN,NaN
4605,4605,0,1957,2017-05-01 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1285.47,NaN,NaN
4653,4653,0,104,2017-03-08 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1678.71,NaN,NaN
4714,4714,0,2454,2017-11-05 00:00:00,True,Approved,NaN,NaN,NaN,NaN,437.51,NaN,NaN
4833,4833,0,961,2017-09-03 00:00:00,False,Approved,NaN,NaN,NaN,NaN,366.22,NaN,NaN
4896,4896,0,922,2017-06-25 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1199.26,NaN,NaN
4967,4967,0,2217,2017-08-16 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1888.45,NaN,NaN
5065,5065,0,3399,2017-06-14 00:00:00,False,Approved,NaN,NaN,NaN,NaN,237.44,NaN,NaN
5159,5159,0,1418,2017-06-01 00:00:00,False,Approved,NaN,NaN,NaN,NaN,317.3,NaN,NaN
5207,5207,0,531,2017-03-02 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1527.25,NaN,NaN
5261,5261,0,3322,2017-12-28 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1563.94,NaN,NaN
5267,5267,0,1172,2017-10-05 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1146.42,NaN,NaN
5603,5603,0,947,2017-06-15 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1192.33,NaN,NaN
5862,5862,0,2404,2017-12-28 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1672.07,NaN,NaN
6072,6072,0,2930,2017-03-01 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1099.68,NaN,NaN
6138,6138,0,3145,2017-01-17 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1281.6,NaN,NaN
6168,6168,0,1591,2017-11-15 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1220.66,NaN,NaN
6251,6251,0,3102,2017-08-31 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1061.92,NaN,NaN
6269,6269,0,2121,2017-01-10 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1502.93,NaN,NaN
6419,6419,0,1707,2017-09-03 00:00:00,False,Approved,NaN,NaN,NaN,NaN,398.08,NaN,NaN
6430,6430,0,714,2017-10-16 00:00:00,True,Approved,NaN,NaN,NaN,NaN,101.55,NaN,NaN
6500,6500,0,1665,2017-07-20 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1957.87,NaN,NaN
6596,6596,0,811,2017-01-27 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1095.66,NaN,NaN
6644,6644,0,1319,2017-02-22 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1776.08,NaN,NaN
6675,6675,0,1777,2017-09-08 00:00:00,False,Approved,NaN,NaN,NaN,NaN,752.36,NaN,NaN
6933,6933,0,913,2017-10-28 00:00:00,False,Approved,NaN,NaN,NaN,NaN,172.09,NaN,NaN
6961,6961,0,1760,2017-07-30 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1740.16,NaN,NaN
6988,6988,0,1462,2017-05-06 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1734.3,NaN,NaN
7016,7016,0,1238,2017-07-25 00:00:00,False,Approved,NaN,NaN,NaN,NaN,240.72,NaN,NaN
7047,7047,0,2758,2017-12-15 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1958.34,NaN,NaN
7206,7206,0,2424,2017-01-26 00:00:00,True,Approved,NaN,NaN,NaN,NaN,330.36,NaN,NaN
7235,7235,0,2555,2017-12-19 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1709.26,NaN,NaN
7356,7356,0,3358,2017-06-21 00:00:00,False,Approved,NaN,NaN,NaN,NaN,60.72,NaN,NaN
7610,7610,0,24,2017-05-11 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1193.44,NaN,NaN
7695,7695,0,23,2017-04-02 00:00:00,True,Approved,NaN,NaN,NaN,NaN,2037.77,NaN,NaN
7730,7730,0,503,2017-05-30 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1349.47,NaN,NaN
7735,7735,0,989,2017-09-29 00:00:00,False,Approved,NaN,NaN,NaN,NaN,56.21,NaN,NaN
7780,7780,0,1576,2017-01-25 00:00:00,True,Approved,NaN,NaN,NaN,NaN,126.36,NaN,NaN
7851,7851,0,2598,2017-04-27 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1300.96,NaN,NaN
7949,7949,0,26,2017-09-08 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1697.27,NaN,NaN
8160,8160,0,1075,2017-07-31 00:00:00,False,Approved,NaN,NaN,NaN,NaN,26.15,NaN,NaN
8216,8216,0,1729,2017-10-28 00:00:00,False,Approved,NaN,NaN,NaN,NaN,875.99,NaN,NaN
8298,8298,0,1204,2017-11-16 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1862.82,NaN,NaN
8322,8322,0,1488,2017-11-12 00:00:00,False,Approved,NaN,NaN,NaN,NaN,2028.26,NaN,NaN
8329,8329,0,1920,2017-10-25 00:00:00,False,Approved,NaN,NaN,NaN,NaN,678.25,NaN,NaN
8424,8424,0,1343,2017-12-02 00:00:00,True,Approved,NaN,NaN,NaN,NaN,890.28,NaN,NaN
8486,8486,0,14,2017-08-16 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1084.18,NaN,NaN
8527,8527,0,218,2017-03-26 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1107.08,NaN,NaN
8586,8586,0,587,2017-10-31 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1790.31,NaN,NaN
8610,8610,0,1479,2017-12-15 00:00:00,False,Approved,NaN,NaN,NaN,NaN,724.37,NaN,NaN
8611,8611,0,2553,2017-03-07 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1095.65,NaN,NaN
8925,8925,0,719,2017-09-11 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1223.24,NaN,NaN
8956,8956,0,2832,2017-06-20 00:00:00,True,Approved,NaN,NaN,NaN,NaN,541.44,NaN,NaN
9187,9187,0,2844,2017-10-22 00:00:00,False,Approved,NaN,NaN,NaN,NaN,470.07,NaN,NaN
9231,9231,0,3138,2017-02-25 00:00:00,False,Approved,NaN,NaN,NaN,NaN,2052.92,NaN,NaN
9276,9276,0,731,2017-07-15 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1817.13,NaN,NaN
9326,9326,0,2310,2017-10-25 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1473.09,NaN,NaN
9420,9420,0,1672,2017-11-13 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1480.76,NaN,NaN
9454,9454,0,2764,2017-07-23 00:00:00,True,Approved,NaN,NaN,NaN,NaN,2012.84,NaN,NaN
9479,9479,0,778,2017-11-27 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1711.35,NaN,NaN
9630,9630,0,2324,2017-03-15 00:00:00,False,Approved,NaN,NaN,NaN,NaN,753.76,NaN,NaN
9715,9715,0,1546,2017-10-14 00:00:00,False,Approved,NaN,NaN,NaN,NaN,840.02,NaN,NaN
9760,9760,0,2553,2017-07-23 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1922.94,NaN,NaN
10002,10002,0,219,2017-04-13 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1759.3,NaN,NaN
10045,10045,0,1944,2017-01-11 00:00:00,True,Approved,NaN,NaN,NaN,NaN,330.91,NaN,NaN
10541,10541,0,216,2017-02-15 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1029.36,NaN,NaN
10896,10896,0,2278,2017-09-02 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1487.8,NaN,NaN
10960,10960,0,151,2017-01-06 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1624.69,NaN,NaN
11016,11016,0,2456,2017-05-12 00:00:00,NaN,Approved,NaN,NaN,NaN,NaN,1719.95,NaN,NaN
11116,11116,0,2342,2017-04-17 00:00:00,False,Approved,NaN,NaN,NaN,NaN,899.52,NaN,NaN
11219,11219,0,2201,2017-11-09 00:00:00,False,Approved,NaN,NaN,NaN,NaN,554.38,NaN,NaN
11393,11393,0,1773,2017-10-15 00:00:00,True,Approved,NaN,NaN,NaN,NaN,960.51,NaN,NaN
11518,11518,0,2755,2017-08-07 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1978.64,NaN,NaN
11531,11531,0,154,2017-09-19 00:00:00,True,Approved,NaN,NaN,NaN,NaN,36.78,NaN,NaN
11549,11549,0,3086,2017-06-29 00:00:00,False,Approved,NaN,NaN,NaN,NaN,74.89,NaN,NaN
11834,11834,0,96,2017-09-05 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1091.51,NaN,NaN
11843,11843,0,2034,2017-05-22 00:00:00,False,Approved,NaN,NaN,NaN,NaN,695.23,NaN,NaN
12022,12022,0,968,2017-04-27 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1148.41,NaN,NaN
12072,12072,0,2638,2017-08-03 00:00:00,False,Approved,NaN,NaN,NaN,NaN,750.25,NaN,NaN
12139,12139,0,2762,2017-02-19 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1997.68,NaN,NaN
12206,12206,0,2034,2017-11-08 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1392.76,NaN,NaN
12323,12323,0,1898,2017-11-05 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1294.37,NaN,NaN
12344,12344,0,72,2017-07-11 00:00:00,False,Approved,NaN,NaN,NaN,NaN,311.57,NaN,NaN
12347,12347,0,172,2017-08-08 00:00:00,True,Approved,NaN,NaN,NaN,NaN,899.92,NaN,NaN
12462,12462,0,870,2017-10-30 00:00:00,False,Approved,NaN,NaN,NaN,NaN,162.87,NaN,NaN
12817,12817,0,264,2017-07-23 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1678.51,NaN,NaN
12870,12870,0,2858,2017-03-29 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1703.18,NaN,NaN
12912,12912,0,2205,2017-01-31 00:00:00,True,Approved,NaN,NaN,NaN,NaN,675.28,NaN,NaN
12969,12969,0,234,2017-04-08 00:00:00,True,Approved,NaN,NaN,NaN,NaN,487.8,NaN,NaN
13011,13011,0,1492,2017-12-25 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1292.13,NaN,NaN
13025,13025,0,507,2017-07-22 00:00:00,NaN,Approved,NaN,NaN,NaN,NaN,1578.52,NaN,NaN
13028,13028,0,255,2017-02-25 00:00:00,True,Approved,NaN,NaN,NaN,NaN,922.15,NaN,NaN
13141,13141,0,2255,2017-07-31 00:00:00,False,Approved,NaN,NaN,NaN,NaN,122.74,NaN,NaN
13344,13344,0,847,2017-01-28 00:00:00,True,Approved,NaN,NaN,NaN,NaN,435.66,NaN,NaN
13345,13345,0,1319,2017-03-24 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1409.68,NaN,NaN
13369,13369,0,1010,2017-01-10 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1315.16,NaN,NaN
13380,13380,0,1043,2017-08-22 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1233.12,NaN,NaN
13460,13460,0,2015,2017-10-29 00:00:00,True,Approved,NaN,NaN,NaN,NaN,758.73,NaN,NaN
13520,13520,0,975,2017-05-19 00:00:00,True,Approved,NaN,NaN,NaN,NaN,405.94,NaN,NaN
13594,13594,0,298,2017-10-24 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1026.7,NaN,NaN
13660,13660,0,3385,2017-03-18 00:00:00,True,Approved,NaN,NaN,NaN,NaN,687.9,NaN,NaN
13681,13681,0,764,2017-01-18 00:00:00,False,Approved,NaN,NaN,NaN,NaN,494.96,NaN,NaN
13720,13720,0,2702,2017-08-12 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1181.89,NaN,NaN
13739,13739,0,3221,2017-03-17 00:00:00,True,Approved,NaN,NaN,NaN,NaN,465.71,NaN,NaN
13809,13809,0,1606,2017-10-22 00:00:00,False,Approved,NaN,NaN,NaN,NaN,880.3,NaN,NaN
13849,13849,0,1097,2017-10-15 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1989.3,NaN,NaN
13873,13873,0,2341,2017-01-30 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1413.98,NaN,NaN
14228,14228,0,1430,2017-08-06 00:00:00,False,Approved,NaN,NaN,NaN,NaN,483.12,NaN,NaN
14305,14305,0,1596,2017-06-30 00:00:00,True,Approved,NaN,NaN,NaN,NaN,753.01,NaN,NaN
14410,14410,0,1895,2017-10-06 00:00:00,False,Approved,NaN,NaN,NaN,NaN,883.91,NaN,NaN
14423,14423,0,417,2017-03-24 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1216.4,NaN,NaN
14444,14444,0,2474,2017-11-29 00:00:00,False,Approved,NaN,NaN,NaN,NaN,32.44,NaN,NaN
14608,14608,0,2651,2017-03-07 00:00:00,True,Approved,NaN,NaN,NaN,NaN,16.08,NaN,NaN
14641,14641,0,1429,2017-02-23 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1184,NaN,NaN
14755,14755,0,884,2017-07-07 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1711.35,NaN,NaN
14836,14836,0,1738,2017-11-03 00:00:00,False,Approved,NaN,NaN,NaN,NaN,587.02,NaN,NaN
14846,14846,0,2192,2017-03-05 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1919.23,NaN,NaN
14922,14922,0,448,2017-03-23 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1660.68,NaN,NaN
15148,15148,0,3150,2017-04-26 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1224.41,NaN,NaN
15268,15268,0,1830,2017-10-07 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1535.84,NaN,NaN
15529,15529,0,3330,2017-08-07 00:00:00,True,Approved,NaN,NaN,NaN,NaN,150.51,NaN,NaN
15622,15622,0,289,2017-07-10 00:00:00,True,Approved,NaN,NaN,NaN,NaN,2062.95,NaN,NaN
15709,15709,0,1892,2017-03-24 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1689.63,NaN,NaN
15928,15928,0,244,2017-03-01 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1934.41,NaN,NaN
16003,16003,0,2747,2017-11-20 00:00:00,True,Approved,NaN,NaN,NaN,NaN,889.05,NaN,NaN
16010,16010,0,705,2017-06-25 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1617.32,NaN,NaN
16033,16033,0,1481,2017-09-29 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1788.93,NaN,NaN
16095,16095,0,10,2017-11-27 00:00:00,False,Approved,NaN,NaN,NaN,NaN,2064.08,NaN,NaN
16249,16249,0,467,2017-03-30 00:00:00,True,Approved,NaN,NaN,NaN,NaN,2020.14,NaN,NaN
16289,16289,0,2432,2017-05-18 00:00:00,False,Approved,NaN,NaN,NaN,NaN,489.58,NaN,NaN
16497,16497,0,243,2017-04-16 00:00:00,True,Approved,NaN,NaN,NaN,NaN,2076.81,NaN,NaN
16661,16661,0,1313,2017-10-04 00:00:00,True,Approved,NaN,NaN,NaN,NaN,2061.38,NaN,NaN
16682,16682,0,377,2017-03-11 00:00:00,False,Approved,NaN,NaN,NaN,NaN,877.44,NaN,NaN
16767,16767,0,1728,2017-06-14 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1374.2,NaN,NaN
16907,16907,0,3421,2017-01-26 00:00:00,False,Approved,NaN,NaN,NaN,NaN,731.41,NaN,NaN
16935,16935,0,34,2017-02-14 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1034.17,NaN,NaN
17150,17150,0,1091,2017-04-06 00:00:00,True,Approved,NaN,NaN,NaN,NaN,156.56,NaN,NaN
17236,17236,0,1026,2017-11-16 00:00:00,True,Approved,NaN,NaN,NaN,NaN,643.95,NaN,NaN
17292,17292,0,171,2017-05-30 00:00:00,True,Approved,NaN,NaN,NaN,NaN,517.53,NaN,NaN
17332,17332,0,1702,2017-02-20 00:00:00,True,Approved,NaN,NaN,NaN,NaN,226.94,NaN,NaN
17432,17432,0,2135,2017-08-15 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1196.65,NaN,NaN
17535,17535,0,1210,2017-07-29 00:00:00,True,Approved,NaN,NaN,NaN,NaN,634.57,NaN,NaN
17768,17768,0,168,2017-03-13 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1571.83,NaN,NaN
17919,17919,0,1295,2017-11-10 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1999.54,NaN,NaN
17988,17988,0,2720,2017-03-11 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1562.88,NaN,NaN
18022,18022,0,3104,2017-05-21 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1150.59,NaN,NaN
18052,18052,0,918,2017-06-22 00:00:00,True,Approved,NaN,NaN,NaN,NaN,356.05,NaN,NaN
18245,18245,0,3261,2017-05-17 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1780.22,NaN,NaN
18278,18278,0,586,2017-02-20 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1438.9,NaN,NaN
18280,18280,0,916,2017-09-17 00:00:00,False,Approved,NaN,NaN,NaN,NaN,966.91,NaN,NaN
18345,18345,0,3359,2017-06-06 00:00:00,False,Approved,NaN,NaN,NaN,NaN,918.43,NaN,NaN
18493,18493,0,331,2017-02-17 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1541.1,NaN,NaN
18544,18544,0,1078,2017-01-15 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1476.88,NaN,NaN
18554,18554,0,1416,2017-10-24 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1023.39,NaN,NaN
18779,18779,0,3355,2017-05-05 00:00:00,False,Approved,NaN,NaN,NaN,NaN,310.57,NaN,NaN
18820,18820,0,1503,2017-03-03 00:00:00,False,Approved,NaN,NaN,NaN,NaN,356.39,NaN,NaN
19018,19018,0,3384,2017-12-01 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1695.42,NaN,NaN
19046,19046,0,2410,2017-11-02 00:00:00,True,Approved,NaN,NaN,NaN,NaN,877.6,NaN,NaN
19133,19133,0,181,2017-05-04 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1401.63,NaN,NaN
19177,19177,0,1043,2017-06-06 00:00:00,False,Approved,NaN,NaN,NaN,NaN,2086.07,NaN,NaN
19197,19197,0,1182,2017-12-06 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1761.75,NaN,NaN
19206,19206,0,2122,2017-01-04 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1615.62,NaN,NaN
19341,19341,0,443,2017-12-26 00:00:00,True,Approved,NaN,NaN,NaN,NaN,744.54,NaN,NaN
19384,19384,0,2407,2017-06-11 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1098.18,NaN,NaN
19794,19794,0,2860,2017-01-13 00:00:00,False,Approved,NaN,NaN,NaN,NaN,868.56,NaN,NaN
19860,19860,0,2468,2017-06-24 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1497.43,NaN,NaN
19872,19872,0,61,2017-03-17 00:00:00,True,Approved,NaN,NaN,NaN,NaN,867.92,NaN,NaN

The columns :brand, product_line, product_class, product_size, standard_cost, product_first_sold_date have all of their missing values in the same rows while 358 of the remaining missing values are in the 'online_order' column. Therefore the total number of null values in the transaction dataset is the sum of the different groups of missing values.

Although other columns with missing values may be filled with the mode values, the last column 'product_first_sold_date' is unique to each product, thus all missing vales in the dataset are dropped.

In [9]:
#calculating the total number of missing values
percentage_onlineorder = ((((KPMG_TSC['online_order'].isnull().sum()) - 2) * 100) / (len((KPMG_TSC['online_order']))))
percentage_brand = ((KPMG_TSC['brand'].isnull().sum() * 100) / (len((KPMG_TSC['brand']))))
percentage_nan = (percentage_onlineorder + percentage_brand)
percentage_nan

2.775

In [10]:
#dropping the null values in the datatset
KPMG_TSC.dropna(inplace = True)
KPMG_TSC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  object
 1   product_id               19445 non-null  object
 2   customer_id              19445 non-null  object
 3   transaction_date         19445 non-null  object
 4   online_order             19445 non-null  object
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  object
 11  standard_cost            19445 non-null  object
 12  product_first_sold_date  19445 non-null  object
dtypes: object(13)
memory usage: 1.1+ MB

In [11]:
#recasting some of the columns in appropriate data types
KPMG_TSC['transaction_date'] = pd.to_datetime(KPMG_TSC['transaction_date'])
KPMG_TSC['list_price'] = KPMG_TSC['list_price'].astype('float')
KPMG_TSC['standard_cost'] = KPMG_TSC['standard_cost'].astype('float')
KPMG_TSC['product_first_sold_date'] = KPMG_TSC['product_first_sold_date'].apply(lambda x: (datetime.datetime(1899, 12, 30) + datetime.timedelta(days= int(x))))
KPMG_TSC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  object
 1   product_id               19445 non-null  object
 2   customer_id              19445 non-null  object
 3   transaction_date         19445 non-null  datetime64[ns]
 4   online_order             19445 non-null  object
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  float64
 12  product_first_sold_date  19445 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(9)
memory usage: 1.4+ MB

In [12]:
#checking that all changes have been accurately implemented
KPMG_TSC.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25,False,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
2,2,3,3120,2017-05-21,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03
3,3,37,402,2017-10-16,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
4,4,88,3135,2017-08-31,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16
5,5,78,787,2017-10-01,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10

In [13]:
#checking for duplicates in the dataset
len(KPMG_TSC[KPMG_TSC.duplicated()])

0

There were no duplicates found in the dataset

## checking each column for data acuracy

In [14]:
#checking for accuracy in the product_id column
KPMG_TSC.product_id.value_counts().head()

0     1157
3      349
1      305
38     267
35     261
Name: product_id, dtype: int64

In [15]:
KPMG_TSC[KPMG_TSC.product_id == 0]['brand'].value_counts()

Solex             273
OHM Cycles        240
Norco Bicycles    238
Trek Bicycles     212
Giant Bicycles    101
WeareA2B           93
Name: brand, dtype: int64

In [16]:
KPMG_TSC[KPMG_TSC.product_id == 3]['brand'].value_counts()

Trek Bicycles    349
Name: brand, dtype: int64

In [17]:
KPMG_TSC[KPMG_TSC.product_id == 1]['brand'].value_counts()

Giant Bicycles    305
Name: brand, dtype: int64

In [18]:
KPMG_TSC[KPMG_TSC.product_id == 38]['brand'].value_counts()

Solex            156
Trek Bicycles    111
Name: brand, dtype: int64

In [19]:
KPMG_TSC[KPMG_TSC.product_id == 35]['brand'].value_counts()

Trek Bicycles     138
Giant Bicycles    123
Name: brand, dtype: int64

Some product id belong to only one brand while others belong to multiple brands. This raises concerns about the accuracy of the product ids

In [20]:
#checking for accuracy in the customer_id column
KPMG_TSC.customer_id.value_counts().head()

1068    14
2476    14
2183    14
1302    13
2912    13
Name: customer_id, dtype: int64

In [21]:
#checking for accuracy in the transaction_date column
KPMG_TSC.transaction_date.value_counts().head()

2017-08-18    81
2017-02-14    81
2017-10-15    73
2017-01-31    72
2017-12-19    70
Name: transaction_date, dtype: int64

In [22]:
#checking for accuracy in the online_order column
KPMG_TSC.online_order.value_counts()

True     9739
False    9706
Name: online_order, dtype: int64

In [23]:
#checking for accuracy in the order_status column
KPMG_TSC.order_status.value_counts()

Approved     19273
Cancelled      172
Name: order_status, dtype: int64

In [24]:
#checking for accuracy in the brand column
KPMG_TSC.brand.value_counts()

Solex             4169
WeareA2B          3245
Giant Bicycles    3244
OHM Cycles        2993
Trek Bicycles     2931
Norco Bicycles    2863
Name: brand, dtype: int64

In [25]:
#checking for accuracy in the product_line column
KPMG_TSC.product_line.value_counts()

Standard    13920
Road         3894
Touring      1213
Mountain      418
Name: product_line, dtype: int64

In [26]:
#checking for accuracy in the product_class column
KPMG_TSC.product_class.value_counts()

medium    13587
high       2952
low        2906
Name: product_class, dtype: int64

In [27]:
#checking for accuracy in the product_size column
KPMG_TSC.product_size.value_counts()

medium    12767
large      3900
small      2778
Name: product_size, dtype: int64

In [28]:
#checking for accuracy in the product_first_sold_date column
KPMG_TSC.product_first_sold_date.value_counts().head()

1992-10-02    230
2012-06-04    223
2003-07-21    221
2009-03-08    220
2004-08-17    217
Name: product_first_sold_date, dtype: int64

Major data quality issues found in the transactions dataset:

1.  Missing values:  The dataset had 360 (1.8%) missing values in the 'online_order' column . The columns 'brand', 'product_line', 'product_class', 'product_size', 'standard_cost', 'product_first_sold_date' all had 197 (0.985% ) missing values spanning across the same rows.

2.  Wrong data type of columns: Some columns had values presented in wrong data types. e.g  'product_first_sold_date'.

3.  Column accuracy: In the product_id column, some product ids belong to only one brand while others belong to multiple brands. This may lead to the assumation that no brand of product has a unique product id.

Mitigation:  A total of 2.8% missing values were removed from the dataset and appropriate data transformations were made to ensure consistent data types for a given field.

Recommendation:  Ensure that fact tables in the given database have constraints on data types.

# Checking for data quality in the NewCustomerList dataset

In [29]:
#Viewing the dataset
KPMG_NCL.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,0.63,0.7875,0.984375,0.836719,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,0.81,0.8100,1.012500,0.860625,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,0.69,0.6900,0.690000,0.690000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,0.44,0.5500,0.550000,0.550000,4.0,4,1.703125
5,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,0.54,0.5400,0.675000,0.675000,4.0,4,1.703125

In [30]:
#checking the details of the column
KPMG_NCL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   object
 4   DOB                                  983 non-null    object
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   object
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   object
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   object
 16  nan                                  1000 non-null   float64
 17  nan                                  1000 non-null   float64
 18  nan                                  1000 non-null   float64
 19  nan                                  1000 non-null   float64
 20  nan                                  1000 non-null   float64
 21  Rank                                 1000 non-null   object
 22  Value                                1000 non-null   object
dtypes: float64(5), object(18)
memory usage: 109.4+ KB

In [31]:
#number of missing values in each column
KPMG_NCL.isnull().sum()

0
first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
NaN                                      0
NaN                                      0
NaN                                      0
NaN                                      0
NaN                                      0
Rank                                     0
Value                                    0
dtype: int64

The columns: job_title and job_industry_category have the highest number of missing values however these columns are not sensitive enough to require being dropped from dataset but cannot be replaced by the mode of the column due to the need for accuracy hence each null value will be replaced with "N/A" (Not Available)

In [32]:
#filling the null values in both columns
KPMG_NCL['job_title'].fillna('N/A', inplace = True)
KPMG_NCL['job_industry_category'].fillna('N/A', inplace = True)
KPMG_NCL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   object
 4   DOB                                  983 non-null    object
 5   job_title                            1000 non-null   object
 6   job_industry_category                1000 non-null   object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   object
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   object
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   object
 16  nan                                  1000 non-null   float64
 17  nan                                  1000 non-null   float64
 18  nan                                  1000 non-null   float64
 19  nan                                  1000 non-null   float64
 20  nan                                  1000 non-null   float64
 21  Rank                                 1000 non-null   object
 22  Value                                1000 non-null   object
dtypes: float64(5), object(18)
memory usage: 109.4+ KB

In [33]:
#checking for the positions of null values in last name column to see if it coincides with the null values in DOB column
KPMG_NCL[KPMG_NCL['last_name'].isnull()]

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
13,Olag,NaN,Male,60,1990-05-13,Human Resources Manager,Telecommunications,Mass Customer,N,No,9,0484 North Avenue,2032,NSW,Australia,11,0.93,0.9300,1.162500,0.988125,13.0,13,1.609375
59,Whittaker,NaN,Male,64,1966-07-29,Media Manager III,N/A,Mass Customer,N,Yes,8,683 Florence Way,3156,VIC,Australia,5,0.73,0.9125,0.912500,0.775625,57.0,57,1.375
88,Kahaleel,NaN,Male,5,1942-11-01,GIS Technical Architect,N/A,High Net Worth,N,No,13,12 Arapahoe Park,2035,NSW,Australia,12,0.66,0.6600,0.825000,0.825000,88.0,88,1.314844
156,Bill,NaN,Female,74,1963-04-24,Human Resources Assistant II,Property,Mass Customer,N,Yes,19,6704 Pine View Lane,2170,NSW,Australia,9,0.67,0.8375,1.046875,0.889844,155.0,155,1.2
203,Glyn,NaN,Male,47,1945-02-13,General Manager,Manufacturing,Affluent Customer,N,Yes,21,67 Bluejay Plaza,2300,NSW,Australia,9,0.58,0.7250,0.906250,0.906250,202.0,202,1.140625
327,Haleigh,NaN,Female,17,1952-05-19,Senior Sales Associate,Financial Services,Mass Customer,N,Yes,18,49 Jana Point,4503,QLD,Australia,4,0.97,1.2125,1.212500,1.030625,326.0,326,1.009375
331,Alon,NaN,Male,17,1999-06-23,Accountant IV,N/A,Affluent Customer,N,No,9,770 Crest Line Parkway,4218,QLD,Australia,3,0.67,0.6700,0.670000,0.670000,329.0,329,1
358,Otis,NaN,Male,59,1971-01-11,Electrical Engineer,Manufacturing,Affluent Customer,N,No,12,04 Oakridge Plaza,2075,NSW,Australia,11,0.42,0.4200,0.525000,0.525000,358.0,358,0.98
420,Sherill,NaN,Female,33,1991-12-18,Information Systems Manager,Financial Services,Mass Customer,N,No,3,53 Moulton Avenue,2880,NSW,Australia,1,1.04,1.0400,1.040000,0.884000,420.0,420,0.91375
443,Theresina,NaN,Female,30,1987-03-01,General Manager,Argiculture,Mass Customer,N,Yes,14,253 Katie Junction,2650,NSW,Australia,2,0.75,0.9375,0.937500,0.796875,441.0,441,0.901
456,Laurena,NaN,Female,21,1961-07-31,VP Sales,N/A,High Net Worth,N,No,10,7 Messerschmidt Crossing,3810,VIC,Australia,6,0.71,0.7100,0.710000,0.710000,455.0,455,0.8925
475,Laurie,NaN,Male,31,1979-07-28,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,15,94 Barby Lane,2210,NSW,Australia,10,0.58,0.7250,0.906250,0.770312,475.0,475,0.881875
478,Blondie,NaN,Female,43,1995-10-03,Actuary,Financial Services,High Net Worth,N,No,11,780 Norway Maple Hill,2565,NSW,Australia,8,0.81,0.8100,0.810000,0.810000,478.0,478,0.88
485,Georgi,NaN,Male,29,1970-01-14,Assistant Manager,Manufacturing,High Net Worth,N,No,11,59 Garrison Terrace,3215,VIC,Australia,4,0.88,0.8800,0.880000,0.880000,485.0,485,0.8755
488,Lucien,NaN,Male,83,1966-09-14,N/A,Financial Services,High Net Worth,N,Yes,19,777 Fairfield Court,4305,QLD,Australia,3,0.97,1.2125,1.515625,1.515625,486.0,486,0.875
495,Park,NaN,Male,39,1977-11-08,Nurse Practicioner,IT,Affluent Customer,N,No,14,07 Boyd Drive,4350,QLD,Australia,7,0.55,0.5500,0.550000,0.550000,495.0,495,0.863281
503,Cariotta,NaN,Female,10,1974-08-19 00:00:00,Assistant Media Planner,Entertainment,Affluent Customer,N,Yes,17,2336 Continental Point,2527,NSW,Australia,7,1.03,1.2875,1.287500,1.287500,502.0,502,0.8585
532,Amabel,NaN,Female,71,1981-09-14,Chief Design Engineer,Financial Services,Mass Customer,N,Yes,9,3128 Mallory Pass,2144,NSW,Australia,6,0.70,0.8750,0.875000,0.743750,530.0,530,0.82875
587,Raynard,NaN,Male,32,1996-04-13,Statistician III,Health,Affluent Customer,N,No,14,20187 Loomis Court,4132,QLD,Australia,6,0.84,0.8400,0.840000,0.840000,587.0,587,0.78625
617,Mariette,NaN,Female,47,1956-07-05,Programmer II,Property,Affluent Customer,N,Yes,17,770 Farmco Point,2049,NSW,Australia,11,0.92,1.1500,1.437500,1.437500,617.0,617,0.754375
756,Darb,NaN,Male,80,1969-06-04,Food Chemist,Health,Affluent Customer,N,No,10,780 Bonner Pass,4034,QLD,Australia,5,0.57,0.5700,0.570000,0.570000,755.0,755,0.64
768,Simonette,NaN,Female,4,1990-04-06,VP Product Management,Manufacturing,Affluent Customer,N,Yes,6,66 Hoffman Court,2232,NSW,Australia,8,1.05,1.3125,1.312500,1.312500,760.0,760,0.6375
780,Ashleigh,NaN,Female,46,1996-04-05,Budget/Accounting Analyst III,N/A,Mass Customer,N,Yes,6,922 Utah Avenue,3204,VIC,Australia,12,0.74,0.9250,1.156250,0.982812,780.0,780,0.624219
787,Fey,NaN,Female,48,1957-09-04,Research Nurse,Health,High Net Worth,N,Yes,11,77 Paget Park,3147,VIC,Australia,12,0.71,0.8875,1.109375,1.109375,786.0,786,0.61625
814,Dmitri,NaN,Male,72,1991-02-06,N/A,Financial Services,High Net Worth,N,Yes,15,4 Mallory Pass,3690,VIC,Australia,4,0.84,1.0500,1.050000,1.050000,810.0,810,0.5875
840,Ginger,NaN,Male,94,1939-02-19,Human Resources Manager,N/A,Mass Customer,N,No,11,160 Fremont Point,2259,NSW,Australia,8,0.77,0.7700,0.962500,0.818125,840.0,840,0.571094
850,Leeland,NaN,Male,66,1957-01-24,VP Quality Control,Telecommunications,High Net Worth,N,No,12,9 Stephen Center,4122,QLD,Australia,4,0.74,0.7400,0.740000,0.740000,845.0,845,0.563125
889,Antoinette,NaN,Female,72,1980-07-28,Structural Analysis Engineer,Financial Services,Affluent Customer,N,No,5,9 Derek Alley,3058,VIC,Australia,9,0.77,0.7700,0.962500,0.962500,888.0,888,0.525
953,Candy,NaN,Female,23,1977-12-08,N/A,Financial Services,Mass Customer,N,No,6,59252 Maryland Drive,3500,VIC,Australia,3,0.59,0.5900,0.590000,0.501500,951.0,951,0.4505

In [34]:
#Recasting in the appropriate datatypes
KPMG_NCL['past_3_years_bike_related_purchases'] = KPMG_NCL['past_3_years_bike_related_purchases'].astype('float')
KPMG_NCL['DOB'] = pd.to_datetime(KPMG_NCL['DOB'])
KPMG_NCL['tenure'] = KPMG_NCL['tenure'].astype('int')
KPMG_NCL['property_valuation'] = KPMG_NCL['property_valuation'].astype('int')
KPMG_NCL['Rank'] = KPMG_NCL['Rank'].astype('int')
KPMG_NCL['Value'] = KPMG_NCL['Value'].astype('float')
KPMG_NCL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   float64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            1000 non-null   object
 6   job_industry_category                1000 non-null   object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int32
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   object
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int32
 16  nan                                  1000 non-null   float64
 17  nan                                  1000 non-null   float64
 18  nan                                  1000 non-null   float64
 19  nan                                  1000 non-null   float64
 20  nan                                  1000 non-null   float64
 21  Rank                                 1000 non-null   int32
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int32(3), object(12)
memory usage: 121.2+ KB

In [35]:
#Checking for duplicates
len(KPMG_NCL[KPMG_NCL.duplicated()])

0

There were no duplicates found in the dataset

## Checking for accuracy in each column

In [36]:
#checking for accuracy in the gender column
KPMG_NCL['gender'].value_counts()

Female    513
Male      470
U          17
Name: gender, dtype: int64

The gender column has another gender stated as 'U'. It is unclear what this stands for and thus raises concerns about the accuarcy of the column.

In [37]:
#checking for accuracy in the wealth_segment column
KPMG_NCL['wealth_segment'].value_counts()

Mass Customer        508
High Net Worth       251
Affluent Customer    241
Name: wealth_segment, dtype: int64

In [38]:
#removing the missing values from the dataset
KPMG_NCL.dropna(inplace = True)

Major data quality issues in the New Customer List dataset:

1. Missing Values: The dataset had 106  (10.6%) missing values in job_title and 165 (16.5%) missing values in job_industry_category columns. It also had 29 customers (2.9%) whose last names were not documented and another 17 (1.7%) had missing date of births.

2. Column Accuracy: The gender column had accuracy issues. It had another category 'U' other than 'female' and 'male'.

3. Missing columns titles: Five columns, positioned between property_valuation and rank had no column title.

Mitigation:  Replaced the missing values in job_title and  job_industry_category  with 'N/A' (Not Available) to reduce the number of missing values from 285 to 46.

Recommendation: Enforce a drop-down list for the user entering the data rather than a free text field to increase column accuracy. Review all data carefully before separating into customer demographic and customer address datasets.

# Checking for data quality in the Customer Demographic dataset

In [39]:
#viewing the dataset
KPMG_CD.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7
5,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8

In [40]:
#checking the details of the dataset
KPMG_CD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 1 to 4000
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   object
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   object
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   object
dtypes: object(13)
memory usage: 203.2+ KB

In [41]:
#Checking the number of missing values in each column
KPMG_CD.isnull().sum()

0
customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

The columns: job_title and job_industry_category have the highest number of missing values however these columns are not sensitive enough to require being dropped from dataset but cannot be replaced by the mode of the column due to the need for accuracy hence each null value will be replaced with "N/A" (Not Available)

In [42]:
#filling the null values in both columns
KPMG_CD['job_title'].fillna('N/A', inplace = True)
KPMG_CD['job_industry_category'].fillna('N/A', inplace = True)

In [43]:
#Recasting in the appropriate datatypes
KPMG_CD['past_3_years_bike_related_purchases'] = KPMG_CD['past_3_years_bike_related_purchases'].astype('float')
KPMG_CD['DOB'] = pd.to_datetime(KPMG_CD['DOB'])
KPMG_CD['tenure'] = KPMG_CD['tenure'].astype('float')
KPMG_CD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 1 to 4000
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   object
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   float64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            4000 non-null   object
 7   job_industry_category                4000 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 250.1+ KB

In [44]:
len(KPMG_CD[KPMG_CD.duplicated()])

0

No duplicates were found in the dataset

## checking for accuracy in each column

In [45]:
#checking for accuracy in the gender column
KPMG_CD['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

In [46]:
pd.set_option('mode.chained_assignment', None)

The gender column has other categories than male and female.

In [47]:
#Replacing the 'F' with 'Female'
KPMG_CD['gender'][KPMG_CD['gender'] == 'F']
KPMG_CD['gender'].iloc[0] = KPMG_CD['gender'].iloc[0].replace('F', 'Female')

In [48]:
#Replacing the 'Femal' with 'Female'
KPMG_CD['gender'][KPMG_CD['gender'] == 'Femal']
KPMG_CD['gender'].iloc[53] = KPMG_CD['gender'].iloc[53].replace('Femal', 'Female')

In [49]:
#Replacing the 'M' with 'Male'
KPMG_CD['gender'][KPMG_CD['gender'] == 'M']
KPMG_CD['gender'].iloc[56] = KPMG_CD['gender'].iloc[56].replace('M', 'Male')

In [50]:
#Checking the gender column again
KPMG_CD['gender'].value_counts()

Female    2039
Male      1873
U           88
Name: gender, dtype: int64

In [51]:
#Checking for accuracy in the default column
KPMG_CD['default'].value_counts()

100                                                                                                                                                                                                                   113
1                                                                                                                                                                                                                     112
-1                                                                                                                                                                                                                    111
-100                                                                                                                                                                                                                   99
                                                                                                                                                                                                                 53
                                                                                                                                                                                                              53
(                                                                                                                                                                                                          52
../../../../../../../../../../../etc/passwd%00                                                                                                                                                                         50
!@#$%^&*()                                                                                                                                                                                                             48
                                                                                                                                                                                                                 48
test                                                                                                                                                                                                               47
(                                                                                                                                                                                                 45
   ,    .     .   -  .    ,            44
1e+96                                                                                                                                                                                                                  43
                                                                                                                                                                                                        43
__(,_,*)                                                                                                                                                                                                             43
                                                                                                                                                                                                                      43
0/0                                                                                                                                                                                                                    43
ZALGO                                                                                                                                                                                 43
He who Waits Behind The Wa                         43
                                                                                                                                                                                                                      42
To invoke the hive-mind repres     42
`                                                                                                                                                                                                 42
nil                                                                                                                                                                                                                    42
                                                                                                                                                                                                     42
                                                                                                                                                                                                         42
                                                                                                                                                                                                                    41
                                                                                                                                                                                                      41
                                                                                                                                                                                                      41
test                                                                                                                                                                                                               41
00$-                                                                                                                                                                                                                 40
                                                                                                                                                                                                                     39
                                                                                                                                                                                                 39
                                                                                                                                                                                                       39
                                                                                                                                                                                                                     39
                                                                                                                                                                                                  39
0 1 2 3 4 5 6 7 8 9                                                                                                                                                           39
                                                                                                                                                                                                              38
1/0                                                                                                                                                                                                                    38
                                                                                                                                                                                                     38
test                                                                                                                                                                                                               38
                                                                                                                                                                                                         38
                                                                                                                                                                                                      38
                                                                                                                                                                                       38
"'                                                                                                                                                                                                                     38
() { 0; }; touch /tmp/blns.shellshock1.fail;                                                                                                                                                                           38
,  ,  ,                                                                                                                               37
                                                                                                                                                                                                                     37
                                                                                                                                                                                                    37
                                                                                                                                                                                                             37
                                                                                                                                                                                                                 37
The Nezperdian hive-mind o                      37
nbl u olop  oql n unppu od posn op ps 'l usdp nsuo ' s olop nsd o                                                                    37
                                                                                                                                                                                                                    37
'                                                                                                                                                                                                                      37
<svg><script>0<1>alert('XSS')</script>                                                                                                                                                                                 37
() { _; } >_[$($())] { touch /tmp/blns.shellshock2.fail; }                                                                                                                                                             37
1;DROP TABLE users                                                                                                                                                                                                     36
                                                                                                                                                                                                                  36
                                                                                                                                                                                                                      36
,./;'[]\-=                                                                                                                                                                                                             36
0                                                                                                                                                                                                                      36
(  )                                                                                                                                                                                                          36
2018-02-01 00:00:00                                                                                                                                                                                                    35
()                                                                                                                                                                                       35
<>?:"{}|_+                                                                                                                                                                                                             35
                                                                                                                                                                                                                   35
( )                                                                                                                                                                                                35
../../../../../../../../../../../etc/hosts                                                                                                                                                                             34
NIL                                                                                                                                                                                                                    34
<script>alert('hi')</script>                                                                                                                                                                                           33
''''"                                                                                                                                                                                                                  33
1'; DROP TABLE users--                                                                                                                                                                                                 33
():*:                                                                                                                                                                                                       33
                                                                                                                                                                                                                33
                                                                                                                                                                                                      33
                                                                                                                                                                                                                      32
                                                                                                                                                                                                                     32
-0.5                                                                                                                                                                                                                   32
Invoking the feeling of chaos.                     32
test                                                                                                                                                                                  32
                                                                                                                                                                                                 31
                                                                                                                                                                                                              31
<img src=x onerror=alert('hi') />                                                                                                                                                                                      31
'"''''"                                                                                                                                                                                                                31
testtest                                                                                                                                                                                                           31
/dev/null; touch /tmp/blns.fail ; echo                                                                                                                                                                                 30
test                                                                                                                                                                                                             29
                                                                                                                                                                                                             27
,:*:(    ):*:                                                                                                                                                                                       25
Name: default, dtype: int64

The default column has values that are very incomprehensible, therefore posing high inaccuracy issues.
This column will be dropped from the dataset

In [52]:
KPMG_CD.drop('default', axis = 'columns', inplace = True)
KPMG_CD.dropna(inplace = True)
KPMG_CD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3792 entries, 1 to 4000
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3792 non-null   object
 1   first_name                           3792 non-null   object
 2   last_name                            3792 non-null   object
 3   gender                               3792 non-null   object
 4   past_3_years_bike_related_purchases  3792 non-null   float64
 5   DOB                                  3792 non-null   datetime64[ns]
 6   job_title                            3792 non-null   object
 7   job_industry_category                3792 non-null   object
 8   wealth_segment                       3792 non-null   object
 9   deceased_indicator                   3792 non-null   object
 10  owns_car                             3792 non-null   object
 11  tenure                               3792 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 251.8+ KB

Major data quality issues in the Customer Demographic dataset:

1. Missing Values: The dataset had 506  (12.65%) missing values in job_title and 656 (16.4%) missing values in job_industry_category columns. It also had 125 (3.125%) customers whose last names were not documented and another 87 (2.175%) had both missing date of births and tenure values.

2. Accuracy of columns: The columns gender and default had accuracy issues. In gender column, other categories outside of 'female' and 'male' were documented. These categories were: 'U', 'F', 'Femal', and 'M'. It can be assumed that the last three categories are input errors. However more clarity is needed on what gender 'U' is. In the default column, the values are completely incomprehensible.

Mitigation:  Replaced the missing values in job_title and  job_industry_category  with 'N/A' (Not Available) to reduce the number of missing values from 1370 to 415. Replaced misspelt categories ensure consistency.

Recommendation: Enforce a drop-down list for the user entering the data rather than a free text field to increase column accuracy.

# Checking for quality in the Customer Address dataset

In [53]:
#viewing the dataset
KPMG_CA.head()

,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4
5,6,9 Oakridge Court,3216,VIC,Australia,9

In [54]:
#checking the details of the dataset
KPMG_CA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   object
dtypes: object(6)
memory usage: 93.8+ KB

The dataset has no missing values

In [55]:
#recasting the columns in the appropriate datatype
KPMG_CA['property_valuation'] = KPMG_CA['property_valuation'].astype('int')
KPMG_CA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int32
dtypes: int32(1), object(5)
memory usage: 93.8+ KB

In [56]:
#checking for duplicates in the dataset
len(KPMG_CA[KPMG_CA.duplicated()])

0

No duplicate was found in the dataset.

## Checking for accuracy in each column

In [57]:
KPMG_CA['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [58]:
KPMG_CA['country'].value_counts()

Australia    3999
Name: country, dtype: int64

The customer address dataset had no data quality issues.

The dataset had no missing values and all columns passed the accuracy check.

## Using sql to check for data quality in transactions, customer demographic and customer address datasets

Four datasets were provided namely:
1. Transactions
2. New Customer List
3. Customer Demographic
4. Customer Address

The transactions, customer demographic and customer address datasets all contain information of customers that aren't new and therefore all have customer ids.
The remainder of this notebook contains the sql code implemented to check the quality in all three datasets.

In [59]:
#creating and connecting KPMGdata database
database_connection = sql.connect('c:Documents/KPMGdata.db')

In [60]:
#creating a cursor 
c = database_connection.cursor()

In [61]:
# creating the Transactions table in the database
c.execute(
    '''
            CREATE TABLE transactions (
                transaction_id INTEGER,
                product_id INTEGER,
                customer_id INTEGER,
                transaction_date TEXT,
                online_order TEXT,
                order_status TEXT,
                brand TEXT,
                product_line TEXT,
                product_class TEXT,
                product_size TEXT,
                list_price REAL,
                standard_cost REAL,
                product_first_sold_date TEXT,
                PRIMARY KEY (transaction_id),
                FOREIGN KEY (customer_id) REFERENCES customerdemographic (customer_id),
                FOREIGN KEY (customer_id) REFERENCES customeraddress (customer_id)            
                );
     ''')

In [62]:
# creating the customerdemographic table in the database
c.execute(
    '''
    CREATE TABLE customerdemographic (
                customer_id INTEGER,
                first_name TEXT,
                last_name TEXT,
                gender TEXT,
                past_3_years_bike_related_purchases REAL,
                DOB TEXT,
                job_title TEXT,
                job_industry_category TEXT,
                wealth_segment TEXT,
                deceased_indicator TEXT,
                owns_car TEXT,
                tenure INTEGER,
                PRIMARY KEY(customer_id),
                FOREIGN KEY(customer_id) REFERENCES transactions(customer_id),
                FOREIGN KEY(customer_id) REFERENCES customeraddress(customer_id)
                );
    '''
)

In [63]:
#creating the customeraddress table in the database
c.execute(
    '''
            CREATE TABLE customeraddress (
                customer_id INTEGER,
                address TEXT,
                postcode INTEGER,
                state TEXT,
                country TEXT,
                property_valuation INTEGER,
                PRIMARY KEY (customer_id),
                FOREIGN KEY (customer_id) REFERENCES transactions (customer_id),
                FOREIGN KEY (customer_id) REFERENCES customerdemographic (customer_id)            
                );
     ''')

In [64]:
#filling the table with information from the datasets
KPMG_TSC.to_sql('transactions', database_connection, if_exists = 'append', index = False)
KPMG_CD.to_sql('customerdemographic', database_connection, if_exists = 'append', index = False)
KPMG_CA.to_sql('customeraddress', database_connection, if_exists = 'append', index = False)

3999

In [65]:
#reading the first five rows of the transactions table
pd.read_sql('''
            SELECT * 
            FROM transactions 
            LIMIT 5
            ''', database_connection)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25 00:00:00,0,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02 00:00:00
1,2,3,3120,2017-05-21 00:00:00,1,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03 00:00:00
2,3,37,402,2017-10-16 00:00:00,0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20 00:00:00
3,4,88,3135,2017-08-31 00:00:00,0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16 00:00:00
4,5,78,787,2017-10-01 00:00:00,1,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10 00:00:00

In [66]:
#checking for customers who have performed trasactions but have no customer demographic or customer address column.
pd.read_sql(
    '''
    SELECT DISTINCT t.customer_id, cd.first_name, cd.last_name, ca.address
    FROM transactions AS t
    LEFT JOIN customerdemographic AS cd
    ON t.customer_id = cd.customer_id
    LEFT JOIN customeraddress AS ca
    ON t.customer_id = ca.customer_id
    WHERE ca.address IS NULL OR cd.first_name IS NULL
''', database_connection
)

     customer_id first_name last_name                       address
0           2426       None      None               4 Becker Center
1           3053       None      None           274 Ludington Trail
2            475       None      None             781 Dorton Avenue
3            857       None      None             18 Parkside Plaza
4           3473       None      None        7279 Steensland Circle
5           2000       None      None      59170 Westridge Junction
6            927       None      None              2309 Gulseth Way
7            211       None      None           78 Rockefeller Park
8             22    Deeanne  Durtnell                          None
9           1038       None      None               85 Laurel Trail
10          1453       None      None              58516 Tony Plaza
11          2073       None      None             9499 Alpine Drive
12           676       None      None             4 Sunfield Circle
13          3151       None      None            32798 Melby Center
14          1477       None      None           472 Blaine Junction
15          2999       None      None          4 Loftsgordon Avenue
16           599       None      None             86 Huxley Parkway
17          2252       None      None                0 Blaine Point
18          2920       None      None         7066 Sunbrook Terrace
19          1683       None      None            4709 Cardinal Hill
20           892       None      None         39 Ronald Regan Alley
21           290       None      None         6923 Tennessee Circle
22          1509       None      None               00941 7th Place
23          1320       None      None        1988 Bartillon Terrace
24          1691       None      None              091 Hoard Street
25          2069       None      None            9 Old Shore Street
26          2153       None      None                4 Mosinee Lane
27          2101       None      None           344 Rockefeller Way
28          2989       None      None               60 Fulton Trail
29          2894       None      None        666 Holy Cross Parkway
30          1210       None      None               3 Porter Center
31           513       None      None              5723 Raven Drive
32          3086       None      None           00183 Arapahoe Pass
33          3180       None      None              55 Gateway Trail
34          2341       None      None  35 Lakewood Gardens Junction
35          1082       None      None              09 Warbler Court
36          1512       None      None               81 Darwin Court
37           257       None      None            879 Coolidge Point
38          1935       None      None               53 Muir Terrace
39          2473       None      None             7 Mcguire Terrace
40           451       None      None               8385 Lien Drive
41           860       None      None      59041 Independence Point
42          3324       None      None             4 Mayfield Center
43          1129       None      None                 1 Nevada Park
44           983       None      None           3638 Starling Alley
45          3365       None      None              297 Kinsman Park
46          1611       None      None             6491 Gerald Court
47           685       None      None       39035 Westerfield Plaza
48          2912       None      None    7916 Clyde Gallagher Place
49           690       None      None              64080 Susan Park
50          3397       None      None              7 Eggendart Hill
51          3052       None      None              75 Hansons Alley
52          2407       None      None               1439 Utah Court
53          3095       None      None            65620 Michigan Way
54          1918       None      None                504 Mesta Lane
55          2311       None      None             01268 Stuart Hill
56          3255       None      None              463 Merry Center
57          2540       None      None            49 Sheridan Circle
58          2205       None      None         8312 Dunning Crossing
59          2469       None      None             49 Talmadge Trail
60          1244       None      None            3466 Truax Terrace
61          2461       None      None              60 Sycamore Lane
62           251       None      None             04 Fallview Trail
63           453       None      None       37093 Manitowish Center
64          3319       None      None          88389 Schiller Drive
65          2355       None      None              52593 Iowa Place
66          3321       None      None             6 Ludington Place
67          3447       None      None           82591 Fallview Hill
68          1756       None      None            8 Armistice Circle
69          2907       None      None               0 Lakeland Pass
70           883       None      None               77 Pawling Pass
71          1806       None      None             507 Onsgard Place
72           168       None      None           16 Golf View Center
73           480       None      None    74011 Manufacturers Street
74          3480       None      None      70980 Washington Parkway
75          2061       None      None             623 Melody Avenue
76           139       None      None           215 Lindbergh Trail
77           454       None      None              9 Monterey Point
78          3343       None      None           12061 Rowland Alley
79          2615       None      None         51313 Fulton Junction
80           275       None      None               07158 Roth Pass
81          1740       None      None                  7 Ohio Court
82          1583       None      None           277 Lindbergh Alley
83           680       None      None             9114 Union Center
84          2854       None      None            3306 Bartelt Alley
85          1469       None      None           93482 Jenifer Alley
86          1301       None      None            392 Ridge Oak Road
87           950       None      None              33564 Jana Court
88          3171       None      None             62 John Wall Lane
89          2696       None      None         0 Little Fleur Avenue
90          3325       None      None             0421 Anthes Court
91          1223       None      None               54 Harbort Road
92          1858       None      None             41 Eagan Junction
93            67       None      None      68294 Clarendon Crossing
94          2647       None      None                10 Kedzie Pass
95          2918       None      None             66 Arrowood Court
96          3137       None      None               99 Linden Trail
97          3312       None      None              83 Graedel Court
98          1773       None      None           9097 Superior Drive
99          2189       None      None             63123 Merry Alley
100         1061       None      None            22 Sachtjen Avenue
101         2697       None      None          541 Southridge Trail
102          684       None      None          8425 Jackson Terrace
103          799       None      None              572 Brown Circle
104         1905       None      None           83975 Rowland Place
105          548       None      None             5 Farmco Junction
106          356       None      None           7 Park Meadow Drive
107         3012       None      None          8003 Pepper Wood Way
108         1253       None      None                  11 Golf Pass
109          660       None      None         14 Autumn Leaf Avenue
110         3364       None      None          62551 Del Mar Avenue
111         1351       None      None        30 Crescent Oaks Point
112         3347       None      None                75 Logan Place
113         1628       None      None               76 Roxbury Pass
114         3200       None      None            842 Texas Crossing
115         1266       None      None         32 Meadow Ridge Alley
116         1967       None      None        67104 Bunting Crossing
117         2584       None      None         592 Oak Valley Center
118         3288       None      None               6 Cascade Trail
119          197       None      None       8890 Golden Leaf Street
120         1376       None      None            64201 Bonner Point
121         1889       None      None           16984 Pankratz Park
122          494       None      None              431 Ilene Center
123         3173       None      None                 8 Erie Center
124         1746       None      None         6 Forest Dale Parkway
125          514       None      None             08501 Kropf Trail
126         1780       None      None               2 Thierer Plaza
127         3038       None      None               42 Arizona Pass
128         2580       None      None           63785 Anthes Circle
129         1584       None      None              6 Logan Junction
130         1727       None      None                    5 Fisk Way
131          790       None      None              02353 Kropf Lane
132         2630       None      None           78019 Manley Center
133          657       None      None         9912 Eagle Crest Lane
134         2945       None      None                978 Dennis Way
135         3298       None      None                 3 Maple Place
136           10   Fiorenze   Birdall                          None
137          460       None      None               455 Hooker Lane
138         2943       None      None                   7 Debs Park
139         1174       None      None          698 Summer Ridge Way
140          839       None      None               6841 Dawn Drive
141          916       None      None              42 Cordelia Park
142          144       None      None            22 Oxford Junction
143         1651       None      None            81942 Scott Street
144         2295       None      None             33 Novick Parkway
145         2408       None      None         9 Hollow Ridge Circle
146         2642       None      None               3 Old Gate Hill
147         2398       None      None            57 Tennessee Alley
148         3223       None      None           93723 Old Gate Hill
149          780       None      None            70 Old Gate Street
150         3443       None      None          0063 Walton Junction
151          975       None      None          95 Old Gate Junction
152         3259       None      None        12357 Arapahoe Parkway
153         3188       None      None           7 Kingsford Parkway
154           23       Olav     Polak                          None
155          744       None      None              2 North Crossing
156          938       None      None            633 Cordelia Alley
157         2919       None      None             11 Glendale Court
158          106       None      None      7909 Pierstorff Crossing
159         1990       None      None              29 Delaware Pass
160         1090       None      None       6026 Graceland Crossing
161          267       None      None              48 Arizona Drive
162         2079       None      None            1396 Sugar Terrace
163         2137       None      None          549 Longview Terrace
164         2165       None      None             0134 Swallow Pass
165         3222       None      None           7198 Rowland Street
166         1455       None      None               77729 Kim Plaza
167         1044       None      None                  5 Jana Drive
168         3445       None      None            59531 Barnett Pass
169         3401       None      None             6851 Orin Parkway
170          250       None      None          91141 Huxley Parkway
171         2335       None      None       4527 Butterfield Circle
172         1712       None      None             62 Mallard Avenue
173         5034       None      None                          None
174         1938       None      None            4 Golden Leaf Road
175         2414       None      None         1369 Wayridge Terrace
176          526       None      None               27230 7th Place
177         2515       None      None           440 Shasta Crossing
178         3385       None      None             31 Dovetail Trail
179          996       None      None              8298 Texas Alley
180          582       None      None           95 Delladonna Plaza
181         2963       None      None            5 Knutson Crossing
182            3      Arlin    Dearle                          None
183         2716       None      None            122 Chinook Center
184         2835       None      None     72297 Sutherland Junction
185          703       None      None               4 Lillian Plaza
186         3322       None      None                624 Harper Way
187            4       None      None            0 Holy Cross Court
188         2021       None      None                218 Elka Point
189         1202       None      None             0 Kedzie Junction

Five customers have performed transactions but have no customer address attached to their customer id, however, one of this five customers also has no customer demographic record present.

In [67]:
#Checking for transactions details of customers with no demographic or address record
customer_idTSC = pd.read_sql(
    '''
    SELECT DISTINCT t.customer_id, cd.first_name, cd.last_name, ca.address, t.transaction_date, t.brand, t.standard_cost
    FROM transactions AS t
    LEFT JOIN customerdemographic AS cd
    ON t.customer_id = cd.customer_id
    LEFT JOIN customeraddress AS ca
    ON t.customer_id = ca.customer_id
    WHERE ca.address IS NULL OR cd.first_name IS NULL
''', database_connection
)
customer_idTSC

,customer_id,first_name,last_name,address,transaction_date,brand,standard_cost
0,2426,None,None,4 Becker Center,2017-04-03 00:00:00,Norco Bicycles,818.01
1,3053,None,None,274 Ludington Trail,2017-06-20 00:00:00,Solex,589.27
2,475,None,None,781 Dorton Avenue,2017-05-07 00:00:00,Trek Bicycles,154.40
3,857,None,None,18 Parkside Plaza,2017-11-27 00:00:00,Giant Bicycles,993.66
4,3473,None,None,7279 Steensland Circle,2017-12-18 00:00:00,Giant Bicycles,1759.85
...,...,...,...,...,...,...,...
1064,2073,None,None,9499 Alpine Drive,2017-02-21 00:00:00,WeareA2B,513.85
1065,657,None,None,9912 Eagle Crest Lane,2017-03-01 00:00:00,Giant Bicycles,173.18
1066,3401,None,None,6851 Orin Parkway,2017-10-18 00:00:00,Trek Bicycles,459.71
1067,275,None,None,07158 Roth Pass,2017-07-02 00:00:00,Trek Bicycles,596.55
1068,2918,None,None,66 Arrowood Court,2017-11-09 00:00:00,Solex,507.58

In [68]:
#saving the four cleaned datasets as excel sheets in the same workbook
writer = ExcelWriter('c:Documents/KPMG clean data.xlsx')
KPMG_TSC.to_excel (writer,'Transactions', index = False)
KPMG_NCL.to_excel (writer,'NewCustomerList', index = False)
KPMG_CD.to_excel (writer, 'CustomerDemographic', index = False)
KPMG_CA.to_excel (writer, 'CustomerAddress', index = False)
writer.save()

In [69]:
#saving the dataset with customer id outliers
customer_idTSC.to_excel('c:Documents/customer_idTSC.xlsx', index = False)